.hidden {
  display: none;
}

.map {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.form {
  width: 354px;
  height: 100%;
  position: relative;
  background: #FFFFFF;
}

.form__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
}

.form__title {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  margin-left: 18px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.form__content {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
}

.form-triangle {
  border: 15px solid transparent;
  width: 0;
  height: 0;
  border-top-color: #ffffff;
  margin-bottom: -10px;
  margin-left: 52px;
}

.form__content-item {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 10px;
  width: 290px;
  border: 1px solid #CFCFCF;
  margin-bottom: 10px;
}


.form__content-item.content-review {
  width: 290px;
  height: 98px;
  resize: none;
  margin-bottom: 20px;
}

::placeholder {
  color: #000000;
}

.content--add {
  color: #ffffff;
  background: #FF8663;
  border-radius: 3px;
  width: 106px;
  height: 38px;
  font-weight: bold;
  text-align: center;
}

.form-two {
  height: 500px;
}

.form__reviews-area {
  
}

.form__reviews-separator {
  height: 1px;
  width: 310px;
  margin-left: 18px;
  background: #E7E7E7;
}

.form-two .form__title {
  padding-top: 14px;
}